* {
 margin: 0;
 padding: 0;
}

body {
 background-color: #D99915;
}

.sameLine{
 display: inline-block;
}

.con {
 padding: 0 0 0 0;
 margin: 40px 0 0 0;
}

#pageColor {
 background-color: black;
 width: 100%;
 height: 100%;
 padding-bottom: 40px;
}

#container {
 width: 1000px;
 overflow: hidden;
 margin: 0 auto;
 background-color: black;
 padding: 20px 0 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #C0405C;
  padding: 10px 100px;
  color: #D99915;
  margin: 0;
}

#footerSpecs {
 background-color: gray;
}

.pinkHeader {
 color: #C0405C;
 font-family: "Impact", sans-serif;
}

.logo {
 width: 200px;
}

.bigLogo {
 width: 50%;
 -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
 -moz-transition: width 1s;
 -o-transition: width 1s;
  transition: width 1s;
}
.bigLogo:hover {
 width: 70%;
}

.smallImg {
 width: 30%;
 -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
 -moz-transition: width .5s;
 -o-transition: width .5s;
  transition: width .5s;
 border: 2px solid #C0405C;
 border-radius: 5%;
}
.smallImg:hover {
 width: 35%;
}

.center {
 text-align: center;
}

.footer {
 height: 70px;
 text-align: center;
}

.fullCenter {
 margin: auto;
 padding-top: 15px;
 color: #C0405C;
}

.singleName {
 color: #C0405C;
}